{% comment %}
  @param filters {Iterable}
    Filters object - collection.filters or search.filters
  @param class_prefix {String}
    Classname prefix
{% endcomment %}

<div class="{{ class_prefix }}__filters-wrapper" data-faceted-filter>
  <label class="{{ class_prefix }}__filters-title sidebar-title">
    {{ 'collections.listing.filter-by' | t }}
  </label>
  <div class="{{ class_prefix }}__filters">
    {%- for filter in filters -%}
      {%
        render 'faceted-filter-group',
        filter: filter,
        class_prefix: class_prefix.
        forloop: forloop
      %}
    {%- endfor -%}
  </div>
</div>
