{% comment %}
@param paymentOptions {Boolean}
  Whether to show payment option icons
{% endcomment %}

{% if shop.enabled_payment_types.size > 0 and paymentOptions %}
  <ul class="payment-options">
    {% for type in shop.enabled_payment_types %}
      <li class="payment-icon">
        {{ type | payment_type_svg_tag }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
