.collection-banner-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.collection-banner_heading {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    width: fit-content;
}

.collection-banner_img {
    width: 100%;
    height: auto;
}