.collection-banner-container div {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    padding-top: 60px;
}

.collection-banner_heading {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    width: fit-content;
}

.collection-banner_img {
    width: 100%;
    height: auto;
}